body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:733px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:735px;
  height:405px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:405px;
}
#u1 {
  position:absolute;
  left:2px;
  top:194px;
  width:731px;
  word-wrap:break-word;
}
#u0_ref {
  position:absolute;
  left:726px;
  top:394px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:14px;
  top:14px;
  width:702px;
  height:45px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:45px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:698px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:45px;
  top:25px;
  width:43px;
  height:22px;
  font-family:'Roboto Condensed Bold Oblique', 'Roboto';
  font-weight:700;
  font-style:oblique;
  font-size:18px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4_ann {
  position:absolute;
  left:81px;
  top:21px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:476px;
  top:25px;
  width:72px;
  height:22px;
  font-family:'Roboto Condensed Bold Oblique', 'Roboto';
  font-weight:700;
  font-style:oblique;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u6_ann {
  position:absolute;
  left:541px;
  top:21px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:628px;
  top:25px;
  width:57px;
  height:22px;
  font-family:'Roboto Condensed Bold Oblique', 'Roboto';
  font-weight:700;
  font-style:oblique;
  font-size:18px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8_ann {
  position:absolute;
  left:678px;
  top:21px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:179px;
  top:25px;
  width:61px;
  height:22px;
  font-family:'Roboto Condensed Bold Oblique', 'Roboto';
  font-weight:700;
  font-style:oblique;
  font-size:18px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u10_ann {
  position:absolute;
  left:233px;
  top:21px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:326px;
  top:25px;
  width:103px;
  height:22px;
  font-family:'Roboto Condensed Bold Oblique', 'Roboto';
  font-weight:700;
  font-style:oblique;
  font-size:18px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u12_ann {
  position:absolute;
  left:422px;
  top:21px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:510px;
  top:374px;
  width:207px;
  height:13px;
  font-family:'Roboto Condensed Bold Oblique', 'Roboto';
  font-weight:700;
  font-style:oblique;
  font-size:11px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:13px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
